{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Data Pelanggan {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"/>
<style>
#bulan{
    width:200px;
}
#pengguna{
    width: 200px;
}
.jarak{
    padding: 20px;
}
.sampai{
    backgroundColor: "Red";
}
.button{
    width: 75px;
    height: 30px;
}
.center{
  text-align: center;
}
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>
{% endblock stylesheets %}

{% block content %}
<div class="loading">Loading&#8230;</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="jarak">
                <div class="content">
                    <h4> Pilih Pelanggan </h4>
                    <form id="form" action="{% url 'canvas'%}">
                    <select id="pengguna" name="pengguna">
                    <option disabled="true" selected>{{pengguna}}</option>
                        {% for value in pelanggan %}
                        <option>{{value}}</option>
                        {% endfor %}
                    </select>
                    <input type="button" value="Pilih" id="button" class="button">
                    <i class="tim-icons icon-alert-circle-exc hover" data-toggle="tooltip" title="Pilih pengguna yang ingin ditampilkan datanya"></i>
                    </form>
                </div>
		<br>
                <div class="content">
                    <h4> Pilih Rentang Waktu </h4>
                    <input id="awal" class="datepicker datetimepicker-input" size="25" value="">
                    <b class="sampai">Sampai</b> 
                    <input id="akhir" class="datepicker" size="25" value="" >
                    <input type="button" value="Refresh" onclick="refresh()" class="button">
                    <i class="tim-icons icon-alert-circle-exc hover" data-toggle="tooltip" title="Update data dalam rentang waktu tertentu"></i>
                    
                </div>
		<br>
                <div class="content">
		            <h4> Pilih Bulan</h4>
                <select id="bulan" name="bulan">
                    <option disabled="true" selected></option>
                        {% for value in bulan %}
                        <option>{{value}}</option>
                        {% endfor %}
                    </select>
                    <input type="button" value="Refresh" onclick="refresh1()" class="button">
		            <i class="tim-icons icon-alert-circle-exc hover" data-toggle="tooltip" title="Update data berdasarkan bulan"></i>
                </div>
                
                <br> 
                <div id="chartCanvas" style="height: 370px; width: 100%;"></div>
                <br>
                <div class="row">
                <div class="col-md-2"></div>
                <div id="chartContainer2" class="col-md-4"style="height: 370px; width: 50%;"></div>
                {% comment %} <div class="col-md-1"></div><div class="col-md-1"></div> {% endcomment %}
                <div id="chartContainer3" class="col-md-4"style="height: 370px; width: 50%;"></div>
                <div class="col-md-2"></div>
                </div>
                <br>
                <br>
                <br>
                <div class="content">
                <div class="row">
                    <div class="col-md-3 center">
                          <label style="font-size:20px;">Total Upload : </label>
                          <label id="tUp" style="font-size:20px;">0</label>                        
                    </div>
                    <div class="col-md-3 center">
                          <label style="font-size:20px;">Total Download : </label>
                          <label id="tDown" style="font-size:20px;">0</label>                        
                    </div>
                    <div class="col-md-3 center">
                          <label style="font-size:20px;">Langganan : </label>
                          <label id="langganan" style="font-size:20px;">0</label>                        
                    </div>
                    <div class="col-md-3 center">
                          <label style="font-size:20px;">Biaya : </label>
                          <label id="biaya" style="font-size:20px;">0</label>                        
                    </div>
                </div>
                </div>
                {% comment %} <form role="form" method="post">
                {% csrf_token %} 
                <div class="row">
                    <div class="col-md-2 px-md-10">
                        <div class="form-group">
                          {{ form.nama }}
                        </div>
                      </div>
                        <div class="col-md-2 px-md-10">
                        <div class="form-group">
                          {{ form.bulan }}
                        </div>
                      </div>
                      <div class="col-md-2 px-md-10">
                        <div class="form-group">
                          {{ form.upload }}
                        </div>
                      </div>
                        <div class="col-md-2 px-md-10">
                        <div class="form-group">
                          {{ form.download }}
                        </div>
                      </div>
                      <div class="col-md-2 px-md-10">
                        <div class="form-group">
                          {{ form.langganan }}
                        </div>
                      </div>
                    <div class="col-md-2 px-md-10">
                        <div class="form-group">
                          {{ form.biaya }}
                        </div>
                      </div>
              </div>
              <div class="row">
                <div class="col-md-3 px-sm-10">
                <button type="submit" class="btn btn-fill btn-primary">Cetak Laporan</button>                            
                </div>
              </div>
              </form> {% endcomment %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'js/canvas/canvasjs.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/moment.js' %}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$('.datepicker').datepicker({
    format: 'dd-mm-yyyy',
    autoclose: true,
    todayHighlight: true,
    orientation: 'bottom'
});
$("#button").click(function(){
	if($('#pengguna option:selected').prop('disabled') == true){
        $.notify({
      icon: "tim-icons icon-bell-55",
      message: "Pilih Pelanggan Dulu!"

    }, {
      type: 'warning',
      timer: 1000,
      placement: {
        from: 'top',
        align: 'center',
      }
    });
    } else{
        $("form").submit();
    }
});
$(".hover").css("color","pink");
</script>
<script>
var user = '{{pengguna}}'
var endpoint = ""
if(user!=""){
    endpoint = '/api/chart/'+user+'/'
}else{
    endpoint = "/api/chart/None/"
}
var label = ["0 - 10 Mbps", "10 - 20 Mbps", "> 20 Mbps"]; 
var upload = [];
var download = [];
var waktu = [];
var tUpload = [0,0,0];
var tDownload = [0,0,0];
var usage = [];
var tUp = "";
var tDown = "";
var nilai = [];
var langganan = "";
var biaya = "";
render(endpoint);
function render(endpoint){
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(json_object){
            if(json_object.pesan == "Success" && endpoint != "/api/chart/None/" ){
                waktu = json_object.waktu
                download = json_object.download
                upload = json_object.upload
                tUpload = json_object.range1
                tDownload = json_object.range2
                usage = json_object.usage
                msg = json_object.pesan
                nilai = json_object.langganan
                biaya = json_object.biaya
                tUp = cek(usage[0])
                tDown = cek(usage[1])
                if(nilai[0]==null){
                  langganan = "Belum diatur"
                }else{
                  langganan = nilai[0].toString()+" Mb"
                }
                $("#biaya").text(biaya)
		            $("#langganan").text(langganan)
                $("#tUp").text(tUp)
                $("#tDown").text(tDown)
                $(".loading").hide();
                message("Pengambilan Data Berhasil!");
                setChart();
                setChart2();
                setChart3();

            }else if(json_object.pesan == "Success" && endpoint == "/api/chart/None/"){
                $(".loading").hide();
                message("Silakan Pilih Pelanggan!")
            }else{
                $(".loading").hide();
                msg = json_object.pesan
                message(msg);
            }
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
            message(error_data);
        }
    })
}
function message(data){
    $.notify({
      icon: "tim-icons icon-bell-55",
      message: data,

    }, {
      type: 'warning',
      timer: 1000,
      placement: {
        from: 'top',
        align: 'center',
      }
    });
}
function setChart() { 
        var dps = [];
        var dps2 = [];
        var dps3 = [];
        var chart = new CanvasJS.Chart("chartCanvas", {
            animationEnabled: true,
            zoomEnabled: true,
            backgroundColor: "#1E1E2E",
            title:{
                text: "Data Bandwidth "+user,
                fontColor: "#d048b6"
            },
            axisX:{
            gridColor: "#d048b6",
            gridThickness: 0.5,
      			labelFontColor: "#d048b6",
      	    tickThickness: 0,
            valueFormatString: "DDD HH:mm:ss"
		    },
            axisY :{
                tickThickness: 0,
                labelFontColor: "#d048b6",
                gridThickness: 0,
                labelFormatter: addSymbols,
                lineThickness: 0
            },
            toolTip: {
                shared: false,
                contentFormatter: addTiptool
            },
            legend: {
                fontColor: "#ffffff",
                cursor: "pointer",
		        verticalAlign: "bottom",
		        horizontalAlign: "center",
		        itemclick: toogleDataSeries,
                fontSize: 13
            },
            data: [{
                type: "spline",
                showInLegend: true,
                name: "Upload",
                dataPoints: dps,
                lineColor: "grey"                     
                },
                {
                type: "spline",
                showInLegend: true,
                name: "Download",
                dataPoints: dps2,    
                lineColor: "#d048b6"                        
                },
                ]
            });
            function parseDataPoints () {                    
                for (var j = 0; j <= waktu.length; j++)
                    dps.push({x: new Date(waktu[j]),y: upload[j]});    
            };		
            function parseDataPoints2 () {                    
                for (var j = 0; j <= download.length; j++)
                    dps2.push({x: new Date(waktu[j]),y: download[j]});    
            };
            parseDataPoints();
            parseDataPoints2();
            chart.options.data[0].dataPoints = dps;
            chart.options.data[1].dataPoints = dps2;
            chart.render();
            function toogleDataSeries(e){
            	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            		e.dataSeries.visible = false;
            	} else{
            		e.dataSeries.visible = true;
            	}
	            chart.render();
            }
            function addSymbols(e){
                var suffixes = ["", "KB", "MB", "GB"];
                var order = Math.max(Math.floor(Math.log(e.value) / Math.log(1000)), 0);
                if(order > suffixes.length - 1)
                    order = suffixes.length - 1;
                var suffix = suffixes[order];
                return CanvasJS.formatNumber(e.value / Math.pow(1000, order)) + suffix;
            }
            function addTiptool(e){
                var content = " ";
				for (var i = 0; i < e.entries.length; i++) {
                    if(e.entries[i].dataPoint.y<1001){
					    content += e.entries[i].dataSeries.name + " " + "<strong>" + (e.entries[i].dataPoint.y).toFixed(2) + "</strong> Bytes";
                        content += "<br/>";
    				}else if(e.entries[i].dataPoint.y>1000 && e.entries[i].dataPoint.y<1000001){
                        content += e.entries[i].dataSeries.name + " " + "<strong>" + (e.entries[i].dataPoint.y/1000).toFixed(2) + "</strong> KB";
					    content += "<br/>";
                    }
                    else if(e.entries[i].dataPoint.y>1000000 && e.entries[i].dataPoint.y<1000000001){
                        content += e.entries[i].dataSeries.name + " " + "<strong>" + (e.entries[i].dataPoint.y/1000000).toFixed(2) + "</strong> MB";
					    content += "<br/>";
                    }
                }
				return content;
            }
}
function setChart2(){
    var dps = [];
    var chart = new CanvasJS.Chart("chartContainer2", {
      theme: "dark2",
                  backgroundColor: "#1E1E2E",
	animationEnabled: true,
	title:{
		text: "Upload Usage",
		horizontalAlign: "center"
	},
	data: [{
		type: "doughnut",
		startAngle: 60,
		//innerRadius: 60,
		indexLabelFontSize: 17,
		indexLabel: "{label} - #percent%",
		toolTipContent: "<b>{label}:</b> {y} (#percent%)",
		dataPoints: dps,
		
	}]
    	
});
function parseDataPoints () {                    
                for (var j = 0; j < tUpload.length; j++)
                    dps.push({y: parseFloat(tUpload[j]), label: label[j]});    
            };
    parseDataPoints();
    chart.options.data.dataPoints = dps;
chart.render();
}
function setChart3(){
    var dps = [];
    var chart = new CanvasJS.Chart("chartContainer3", {
      theme: "dark2",
      backgroundColor: "#1E1E2E",
	animationEnabled: true,
	title:{
		text: "Download Usage",
		horizontalAlign: "center"
	},
	data: [{
		type: "doughnut",
		startAngle: 60,
		//innerRadius: 60,
		indexLabelFontSize: 17,
		indexLabel: "{label} - #percent%",
		toolTipContent: "<b>{label}:</b> {y} (#percent%)",
		dataPoints: dps,
		
	}]
    	
});
function parseDataPoints () {                    
                for (var j = 0; j < tDownload.length; j++)
                    dps.push({y: parseFloat(tDownload[j]), label: label[j]});    
            };
    parseDataPoints();
    chart.options.data.dataPoints = dps;
chart.render();
}
function refresh(){
    if(user==""){
      msg = "Pelanggan Belum Terpilih!"
      message(msg);
    }else{
    $(".loading").show();
    var awal = document.querySelector('#awal').value
    var akhir = document.querySelector('#akhir').value
    var awal1 = awal.split("-");
    var a = awal1[1]+'/'+awal1[0]+'/'+awal1[2];
    var a1 = moment(a).toISOString();
    var akhir1 = akhir.split("-");
    var b = akhir1[1]+'/'+akhir1[0]+'/'+akhir1[2]
    var b1 = moment(b).toISOString();
    var endpoint = '/api/chart/'+user+'/'+a1+'/'+b1
    render(endpoint);
    }
};
function refresh1(){
  if(user==""){
      msg = "Pelanggan Belum Terpilih!"
      message(msg);
    }else{
      $(".loading").show();
      var bulan = document.querySelector("#bulan").value
      var endpoint = '/api/chart/'+user+'/'+bulan+'/'
      render(endpoint);
    }
};
function cek(data){
    var aku ="";
    if(data<1000){
        data = data.toFixed(2);
        aku = data.toString() + " Bytes";
    }else if(data>1000 && data<1000000){
        data = (data/1000).toFixed(2);
        aku = data.toString() + " KB";
    }else if(data>1000000 && data<1000000000){
        data = (data/1000000).toFixed(2);
        aku = data.toString() + " MB";
    }else if(data>1000000000 && data<1000000000000){
        data = (data/1000000000).toFixed(2);
        aku = data.toString() + " GB";
    }else{
      data = (data/1000000000000).toFixed(2);
      aku = data.toString() + " TB";
    }
    return aku;
}
</script>
{% endblock javascripts %}