{% extends 'layouts/base.html' %}

{% block title %} Setting Value {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form role="form" method="POST" action="">
                    {% csrf_token %} 
                    <div class="card-header">
                        <h5 class="title">Configuration</h5>
                        <h6 class="card-category">
                            {% if msg %}
                                <span class="text-danger"{{ msg }}></span>
                            {% else %}
                                This page designed to set the configuration before controlling bandwidth
                            {% endif %}
                        </h6>
                    </div>
                {% if success %}
                    
                    <p> Configuration Saved </p>

                {% else %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 px-md-2">
                                <div class="form-group">
                                    <label>Threshold</label>
                                    {{ conform.othreshold }}
                              </div>
                            </div>
                        <span class="text-danger">{{ conform.othreshold.errors }}</span>
                        </div>

                        <div class="row">
                            <div class="col-md-6 pl-md-2">
                                <div class="form group">
                                    <label>Router</label>
                                    <select name="orouter" class="form-control">
                                        <option selected disabled="True">-- Select Router --</option>
                                        {% for result in profile_result %} 
                                        <option type="submit" class="dropdown-item-text" value={{result.id}}>{{result.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>    
                            <div class="col-md-6 pr-md-2">
                                <div class="form group">
                                    <label>Queue</label>
                                    <select name="oqueue" class="form-control">
                                        <option selected disabled="True">-- Select Queue --</option>
                                        {% for queues in queue_result %} 
                                        <option type="submit" class="dropdown-item-text" value={{queues.id}}>{{queues.cname}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 pl-md-2">
                                <div class="form-group">
                                    <label>Max Upload</label>
                                    {{ conform.omaxlimitup }}
                              </div>
                            </div>
                        <span class="text-danger">{{ conform.omaxlimitup.errors }}</span>
                            
                        
                            <div class="col-md-6 pr-md-2">
                                <div class="form-group">
                                    <label>Max Download</label> 
                                    {{ conform.omaxlimitdown }}
                              </div>
                            </div>
                        </div>
                        <span class="text-danger">{{ conform.omaxlimitdown.errors }}</span>

                        <div class="row">
                            <div class="col-md-6 pl-md-2">
                                <div class="form-group">
                                    <label>Min Upload</label>
                                    {{ conform.ominlimitup }}
                              </div>
                            </div>
                        <span class="text-danger">{{ conform.ominlimitup.errors }}</span>
                            
                        
                            <div class="col-md-6 pr-md-2">
                                <div class="form-group">
                                    <label>Min Download</label> 
                                    {{ conform.ominlimitdown }}
                              </div>
                            </div>
                        </div>
                        <span class="text-danger">{{ conform.ominlimitdown.errors }}</span>
                    </div>    
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-round">Send</button>
                    </div>
                {% endif %}
                </form>
            </div>
        </div>
    </div>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
